@media (max-width: 959px) {
  section {
    &.hero {
      .contentRow {
        aside {
          text-align: center;
          max-width: 64rem;
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: 769px) {
  section {
    &.hero {
      padding-bottom: 19px;
      .contentRow {
        aside,
        aside.aboutAside {
          p {
            &.highlight {
              font-size: 1rem;
            }
            &.subtitle {
              font-size: 1.6rem;
            }
          }
          h1 {
            font-size: 3.5rem;
            line-height: normal;
          }
          .Btn {
            width: 100%;
            span {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
    &.overview {
      .contentWrapper {
        padding-inline: 12px;
        header {
          margin-bottom: 64px;
        }
      }
    }
    &.faq {
      margin-block: 32px;
      .contentWrapper {
        h2 {
          font-size: 3.2rem;
        }
        .expandedContent {
          font-size: 1.2rem;
        }
        .v-expansion-panel-header {
          font-size: 1.4rem !important;
        }
      }
    }
    &.potential {
      .contentWrapper {
        h3 {
          font-size: 2.2rem;
        }
        p {
          font-size: 1.2rem;
        }
        .Btn {
          & > span {
            font-size: 1.2rem;
          }
        }
      }
    }
    &.footerSection {
      .footerLogo {
        & > p {
          max-width: 100%;
        }
      }
    }
    &.benefits {
      .contentWrapper {
        .content__grid {
          grid-gap: 24px;
        }
      }
    }
    &.product {
      padding-block: 59px;
      .contentWrapper {
        .content__tab__items {
          height: auto;
          .tabContents {
            padding: 24px 12px;
            .flexGap {
              h3 {
                font-size: 1.6rem;
              }
            }
            ul {
              li {
                span {
                  font-size: 1.2rem;
                }
              }
            }
            .Btn {
              width: 100%;
              span {
                font-size: 1.2rem;
              }
            }
          }
        }
        .content__tab {
          grid-template-columns: 1fr;
          margin-top: 30px;
          & > div {
            display: none;
          }
          & > nav {
            display: flex;
          }
        }
      }
    }
    &.pricing {
      .contentWrapper {
        .content__row {
          .content__card {
            padding: 24px;
          }
        }
      }
    }
  }
  header {
    h2 {
      font-size: 3.5rem !important;
    }
    h4 {
      font-size: 1.8rem !important;
    }
  }
  .topNav {
    .topBar {
      .hamburgerMenu {
        display: block;
      }
      nav,
      .loginSection {
        display: none;
      }
    }
  }
}
